/.less
/.idea
/.todo
**/config/*
!**/config/module-config.php.dist
!**/config/.htaccess
/docs
/log/*
!/log/.htaccess
**/*.sqlite
/vendor
/meta
**/node_modules
!assets/js/node_modules/
**/fronted
**/package.json
/modules/**
*.log
