{% extends "layout.default.body.tpl.twig" %}

{% block page_content %}
    <div class="col-md-12">
        If you use a normal PHP method, then the view is rendered using the Twig template in the directory xy of the same name.
        @see views/IndexController/indexAction.tpl.js
    </div>
{% endblock page_content %}